$verdeSalvia: #4A7C59;
$terracota: #e07a5f;
$fundoOffWhite: #f8f9fa;

@use "bootstrap/scss/bootstrap" with (
  $primary: $verdeSalvia,
  $secondary: $terracota,
  $body-bg: $fundoOffWhite,
  $enable-shadows: true
);

html, body {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $verdeSalvia;
}
